<%= form_with model: invoice, class: "contents", data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :customer_id %>
    <%= form.select :customer_id, Customer.all.collect { |customer| [customer.name, customer.id] }, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :invoice_date %>
    <%= form.date_select :invoice_date, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <template data-nested-form-target="template">
    <%= form.fields_for :invoice_items, InvoiceItem.new, child_index: 'NEW_RECORD' do |invoice_item_fields| %>
      <%= render "invoice_item_form", form: invoice_item_fields %>
    <% end %>
  </template>

  <%= form.fields_for :invoice_items do |invoice_item_fields| %>
    <%= render "invoice_item_form", form: invoice_item_fields %>
  <% end %>

  <div data-nested-form-target="target">
    <button type="button" data-action="nested-form#add" class="mb-6 rounded-lg py-3 px-5 bg-orange-600 text-white inline-block font-medium cursor-pointer">+ Add invoice item </button>
  </div>

  <div class="">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-orange-600 text-white inline-block font-medium cursor-pointer" %>
    <%= link_to 'Back to invoices', invoices_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
