<div data-controller="hello">
  <%= form_with model: invoice, class: "contents" do |form| %>
    <% if invoice.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

        <ul>
          <% invoice.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label for="customer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer</label>
        <%= form.select :customer_id, Customer.all.collect { |customer| [customer.name, customer.id] }, {}, { class: "bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" } %>
      </div>
      <div>
        <label for="invoice_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Invoice Date</label>
        <%= form.date_field :invoice_date, { value: Time.now.strftime('%Y-%m-%d'), class: "bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" } %>
      </div>
    </div>

    <%= turbo_frame_tag "hidden_fields" do %>
      <%= form.hidden_field :total_gross, value: 0.0, id: "total_gross_amount" %>
      <%= form.hidden_field :total_taxes, value: 0.0, id: "total_tax_amount" %>
      <%= form.hidden_field :total_net, value: 0.0, id: "total_net_amount" %>
    <% end %>

    <div id="invoice_items">
      <%= form.fields_for :invoice_items do |invoice_item_form| %>
        <%= render "invoice_items/form", form: invoice_item_form %>
      <% end %>
    </div>

    <%= form.submit "+ New Invoice Item",
      formaction: invoice_item_path(@invoice.invoice_items.size),
      formmethod: :post,
      formnovalidate: true,
      id: "new-invoice_item",
      class: "mb-6 text-orange-600 border border-orange-600 hover:bg-orange-600 hover:text-white active:bg-orange-600 font-bold uppercase px-8 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
    %>

    <div class="">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-orange-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to 'Back to invoices', invoices_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% end %>
</div>