<div data-controller="hello" data-invoice-item-id="<%= form.index %>" class="nested-form-wrapper w-full rounded overflow-hidden shadow-lg mb-6">
  <div class="px-6 py-4">
    <div class="row">
      <div class="font-bold text-xl mb-2">Invoice Item </div>
     <button type="button" style="float: right;margin-top: -25px;" class="float-right rounded-lg py-3 px-5 bg-orange-600 text-white inline-block font-medium cursor-pointer" data-action="nested-form#remove click->hello#recalculate">X</button>
    </div>
    <%= form.hidden_field :_destroy %>
    <p class="text-gray-700 text-base">
      <div class="nested-form-wrapper flex flex-wrap -mx-3 mb-6" data-new-record="<%= form.object.new_record? %>">
        <div class="w-full px-3 mb-6 md:mb-0 mt-2">
          <%= form.label :description %>
          <%= form.text_field :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0 mt-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
            Unit
          </label>
          <%= form.number_field :units, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", "data-hello-target"=>"units", "data-action"=>"input->hello#calculate" %>
        </div>
        <div class="w-full md:w-1/3 px-3 mt-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
            Unit Cost
          </label>
          <%= form.text_field :unit_cost, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", "data-hello-target"=>"unitCost", "data-action"=>"input->hello#calculate" %>
        </div>
        <div class="w-full md:w-1/3 px-3 mt-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
            Tax
          </label>
          <%= form.select :tax_id, Tax.all.pluck(:tax_name, :id), { }, class: 'tax_id block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full', "data-hello-target" => "tax", "data-action" => "change->hello#calculate" %>
          <%= form.hidden_field :item_total, value: 0.0, class: "item_total", "data-hello-target"=> "itemTotal" %>
          <%= form.hidden_field :tax_amount, value: 0.0, class: "tax_amount", "data-hello-target"=> "taxAmount" %>
          <%= form.hidden_field :item_total_with_tax, value: 0.0, class: "item_total_with_tax", "data-hello-target"=> "itemTotalWithTax" %>
          <%= hidden_field_tag :item_total, 0, name: "invoice[itme_total]", "data-hello-target": "itemSubTotal", class: 'item-sub-total' %>
        </div>
      </div>
    </p>
  </div>
</div>