<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-orange-500">INVOICES</h1>
    <%= link_to 'New invoice', new_invoice_path, class: "rounded-lg py-3 px-5 bg-orange-600 text-white block font-medium" %>
  </div>

  <div id="invoices" class=" mt-10 min-w-full">
    <table class="table-auto w-full">
      <thead class="text-xs font-bold uppercase text-gray-600 bg-gray-50">
        <tr>
          <th class="p-2 whitespace-nowrap">
            <div class="font-bold text-left">Customer</div></th>
          <th class="p-2 whitespace-nowrap">
            <div class="font-bold text-left">Total Gross</div></th>
          <th class="p-2 whitespace-nowrap">
            <div class="font-bold text-left">Total Tax</div></th>
          <th class="p-2 whitespace-nowrap">
            <div class="font-bold text-left">Total Net</div></th>
          <th class="p-2 whitespace-nowrap">
            <div class="font-bold text-left">Action</div></th>
        </tr>
      </thead>
      <tbody class="text-sm divide-y divide-gray-100">
        <% @invoices.each do |invoice| %>
          <tr id="<%= dom_id invoice %>">
            <td class="p-2 whitespace-nowrap"><%= invoice.customer.name %></td>
            <td class="p-2 whitespace-nowrap"><%= invoice.total_gross.round(2) %></td>
            <td class="p-2 whitespace-nowrap"><%= invoice.total_taxes.round(2)  %></td>
            <td class="p-2 whitespace-nowrap"><%= invoice.total_net.round(2) %></td>
            <td class="p-2 whitespace-nowrap"><%= link_to "Show this invoice", invoice, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center my-4">
      <%= will_paginate @invoices %>
    </div>
  </div>
</div>
