<%# app/views/invoice_items/_form.html.erb %>
<%= turbo_frame_tag "invoice_item_#{form.index}" do %>
  <%= form.hidden_field :id %>

  <div class="w-full rounded overflow-hidden shadow-lg mb-6">
    <div class="px-6 py-4">
      <div class="row">
        <div class="font-bold text-xl mb-2">Invoice Item #<%= form.index %> </div>
        <%= form.submit "X",
          formaction: invoice_item_path(form.index, form.object.id),
          formmethod: :delete,
          formnovalidate: true,
          style: "float: right;margin-top: -25px;",
          class: "float-right rounded-lg py-3 px-5 bg-orange-600 text-white inline-block font-medium cursor-pointer",
          data: { turbo_frame: "invoice_item_#{form.index}" } %>
      </div>
      <%= form.hidden_field :_destroy %>
      <%= form.hidden_field :item_index, value: form.index %>
      <p class="text-gray-700 text-base">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3 mb-6 md:mb-0 mt-2">
            <%= form.label :description %>
            <%= form.text_field :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0 mt-2">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Unit
            </label>
            <%= form.number_field :units, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <div class="w-full md:w-1/3 px-3 mt-2">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
              Unit Cost
            </label>
            <%= form.number_field :unit_cost, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <div class="w-full md:w-1/3 px-3 mt-2">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
              Tax
            </label>
            <%= form.select :tax_id, Tax.all.collect { |tax| [tax.tax_name, tax.id] }, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
          </div>

          <div>
            <%= form.submit 'Add item to List',
              formaction: add_invoice_item_path(form.index.to_i),
              formmethod: :post,
              formnovalidate: true,
              id: "add-invoice_item",
              class: "mb-6 mt-6 text-orange-600 border border-orange-600 hover:bg-orange-600 hover:text-white active:bg-orange-600 font-bold uppercase px-8 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            %>
          </div>
        </div>
      </p>
    </div>
  </div>
<% end %>



