<%= turbo_stream.replace "total_calculation" do %>
  <%= turbo_frame_tag "total_calculation" do %>
    <div class="w-1/3 rounded overflow-hidden shadow-lg mb-6 p-6" style="width:30%;float:right">
      <div class='mt-5'>
        <h3 class="float-right text-xl text-orange-600" >
          <span class="mr-20 text-gray-600">Total Net:</span> $ <%= @invoice.total_net %>
        </h3>
      </div>
      <div class='mt-5'>
        <h6 class="float-right text-xl text-orange-600" >
          <span class="mr-20 text-gray-600"> Total Taxes: </span> $ <%= @invoice.total_taxes %>
        </h3>
      </div>
      <div class='mt-5'>
        <h6 class="float-right font-bold text-4xl text-orange-600" >
          Sub-Total: $ <%= @invoice.total_gross %>
        </h3>
      </div>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.replace "hidden_fields" do %>
  <%= turbo_frame_tag "hidden_fields" do %>
    <%= hidden_field_tag :total_gross, @invoice.total_gross, name: "invoice[total_gross]" %>
    <%= hidden_field_tag :total_taxes, @invoice.total_taxes, name: "invoice[total_taxes]" %>
    <%= hidden_field_tag :total_net, @invoice.total_net, name: "invoice[total_net]" %>
  <% end %>
<% end %>
