<%= turbo_stream.replace "invoice_item_rows" do %>
  <% binding.pry %>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <tr id="<%= dom_id invoice_item %>">
      <td class="p-2 whitespace-nowrap"><%= invoice_item.description %></td>
      <td class="p-2 whitespace-nowrap"><%= invoice_item.item_total_with_tax.round(2) %></td>
      <td class="p-2 whitespace-nowrap"><%= invoice_item.tax_amount.round(2) %></td>
      <td class="p-2 whitespace-nowrap"><%= invoice_item.item_total.round(2) %></td>
    </tr>
  <% end %>
<% end %>

<%= turbo_stream.replace "total_calculation" do %>
  <%= turbo_frame_tag "total_calculation" do %>
    <div class="w-1/3 rounded overflow-hidden shadow-lg mb-6 p-6" style="width:30%;float:right">
      <div class='mt-5'>
        <h3 class="float-right text-xl text-orange-600" >
          <span class="mr-20 text-gray-600">Total Net:</span> $ <%= @invoice.total_net %>
        </h3>
      </div>
      <div class='mt-5'>
        <h6 class="float-right text-xl text-orange-600" >
          <span class="mr-20 text-gray-600"> Total Taxes: </span> $ <%= @invoice.total_taxes %>
        </h3>
      </div>
      <div class='mt-5'>
        <h6 class="float-right font-bold text-4xl text-orange-600" >
          Sub-Total: $ <%= @invoice.total_gross %>
        </h3>
      </div>
    </div>
  <% end %>
<% end %>
