<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/sidebar' %>
    <main class="flex mt-20" style="width: 80%;
    float: left;
    padding-left: 30px;">
      <%= yield %>
    </main>
  </body>
</html>
