<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <% if current_user %>
        <%= link_to "edit profile", edit_user_registration_path %>
        <%= link_to('logout',destroy_user_session_path,:method => :delete)%>
      <% else %>
        <%= link_to "login" , new_user_session_path %>
        <%= link_to 'register' ,new_user_registration_path %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
